.screen {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  width: 100vw;
}

.screen::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.screen::-webkit-scrollbar-thumb {
  background-color: #596174;
  border-radius: 5px;
}
.screen::-webkit-scrollbar-track {
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
}

.scrollBar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
  background-color: #596174;
  border-radius: 5px;
}
.scrollBar::-webkit-scrollbar-track {
  background-color: rgb(228, 228, 228);
  /* border-radius: 5px; */
}

/* .screen > header {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: white;
} */

.groupContainer {
  padding: 0 40px;
  width: 100vw;
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
  margin-bottom: 40px;
  width: calc(100% - 80px);
  /* padding: 0 5%; */
  /* overflow-x: scroll; */
}

.group::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.group::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 2.5px;
}
.group::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 2.5px;
}

.box {
  /* background-color: blue; */
  border: solid 1px gray;
  border-radius: 20px;
  height: 166px;
  /* flex: 1 0 auto; */
  margin-bottom: 10px;
  padding: 20px;
  transition: transform 0.2s;
  width: 166px;
}

.box:hover {
  transform: scale(0.98);
}

.screenContainer {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  text-align: left;
}
