.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modeBox {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.mode1,
.mode2,
.mode3 {
  width: 300px;
  height: 300px;
  position: relative;
  border: solid 1px gray;
  border-radius: 20px;
  transition: transform 0.2s;
}

.mode1:hover,
.mode2:hover,
.mode3:hover {
  transform: scale(0.98);
}

/* .mode2 {
  padding: 60px;
} */

/* .mode1 {
  width: 300px;
  height: 300px;
  background-color: aqua;
  position: relative;
}

.mode2 {
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
  position: relative;
}

.mode3 {
  width: 300px;
  height: 300px;
  background-color: darkkhaki;
  position: relative;
} */

.mode1 caption,
.mode2 caption,
.mode3 caption {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.marginBox {
  margin: 50px;
}
